.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F3EFE6;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #000000;
  margin-top: 30px;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
}

.App-link {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #FF964F; 
  color: #000000; 
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.App-link:hover {
  background-color: #d45140; 
}


.circle {
  width: 50px;
  height: 50px;
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.circle-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: -8px;
  right: -8px;
}

.circle-text {
  color: #000000;
  margin-right: 65px;
  margin-top: 30px;
  position: absolute;
  right: 20px;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-icon div {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  transition: all 0.3s linear;
}

.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.login-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;

}
.login-page {
  color: #333; 
}
body {
  border-top: 70px solid #DF2C14; 
}

.logo-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px; 
  left: 20px; 
  border-radius: 50%;
  overflow: hidden;
}

.logo-circle img {
  width: 100%;
  height: auto;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -200px; 
  font-family: calc(15px + 5vmin); 
}



.password {
  margin-top: 200px; 
  width: 300px;
  height: 40px; 
}

.login-button {
  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
  
}

.create-account-button {

  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
}

.create-account-button:hover {
  background-color: #d45140; /* replace with your desired color */
}

.login-button:hover {
  background-color: #d45140; /* replace with your desired color */
}