:root {
  --primary-color: #333;
  --secondary-color: #f3f3f3;
  --hover-color: #696969;
  --text-color: #000000;
  --link-color: #000000;
  --background-color: #F3EFE6;
  --circle-color: grey;
  --hover-circle-color: #d3d3d3;
  --button-text-color: white;
  --button-padding: 10px 20px;
  --border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F3EFE6;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

/* .App-link {
  color: #000000;
  margin-top: 30px;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
} */

/* .App-link {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #FF964F; 
  color: #000000; 
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
} */

/* .App-link:hover {
  background-color: #d45140; 
} */


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.circle:hover {
  background-color: var(--hover-circle-color);
}

.circle-container,
.menu-icon {
  position: fixed;
  top: 20px;
  cursor: pointer;
}

.circle-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: -8px;
  right: -8px;
}

.circle-text {
  color: #000000;
  margin-right: 65px;
  margin-top: 30px;
  position: absolute;
  right: 20px;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-icon div {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  transition: all 0.3s linear;
}

.menu-icon.open div:nth-child(1),
.menu-icon.open div:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: center;
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
}

/* Button styles */
.login-button,
.create-account-button,
.reset-password-button,
.back-to-login-button,
.home-button,
.button button {
  display: inline-block;
  padding: var(--button-padding);
  margin-top: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* Navigation buttons */
.create-account-button,
.login-button,
.reset-password-button,
.back-to-login-button,
.home-button {
  color: var(--alt-primary-color); /* Dark text color */
  background-color: var(--secondary-color); /* Light grey background */
}

/* Action buttons like 'Login' */

.button button {
  background-color: var(--primary-color); /* Dark background */
  color: var(--button-text-color); /* White text color */
}

/* Hover effect for all buttons */
.login-button:hover,
.create-account-button:hover,
.reset-password-button:hover,
.back-to-login-button:hover,
.home-button:hover,
.button button:hover {
  background-color: var(--hover-color);
}

.login-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;

}
.login-page {
  color: #333; 
}
body {
  border-top: 70px solid #b93321; 
}

.logo-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px; 
  left: 20px; 
  border-radius: 50%;
  overflow: hidden;
}

.logo-circle img {
  width: 100%;
  height: auto;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -200px; 
  font-family: calc(15px + 5vmin); 
}



.password {
  margin-top: 200px; 
  width: 300px;
  height: 40px; 
}

.login-button {
  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
  
}

.create-account-button {

  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
}

.create-account-button:hover {
  background-color: #d45140; /* replace with your desired color */
}

.login-button:hover {
  background-color: #d45140; /* replace with your desired color */
}