:root {
  --primary-color: #FF964F;
  --secondary-color: #f3f3f3;
  --hover-color: #d45140;
  --text-color: #000000;
  --link-color: #000000;
  --background-color: #F3EFE6;
  --circle-color: grey;
  --hover-circle-color: #d3d3d3;
  --button-text-color: #000000;
  --button-padding: 10px 20px;
  --border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F3EFE6;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.circle:hover {
  background-color: var(--hover-circle-color);
}

.circle-container,
.menu-icon {
  position: fixed;
  top: 20px;
  cursor: pointer;
}

.circle-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 20px;
  right: 20px;
}

.circle-text {
  color: #000000;
  margin-right: 65px;
  margin-top: 30px;
  position: absolute;
  right: 20px;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-icon div {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  transition: all 0.3s linear;
}

.menu-icon.open div:nth-child(1),
.menu-icon.open div:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: center;
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
}

/* Button styles */
.login-button,
.create-account-button,
.reset-password-button,
.back-to-login-button,
.home-button,
.button button {
  display: inline-block;
  padding: var(--button-padding);
  margin-top: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* Navigation buttons */
.create-account-button,
.login-button,
.reset-password-button,
.back-to-login-button,
.home-button {
  color: var(--alt-primary-color); /* Dark text color */
  background-color: var(--secondary-color); /* Light grey background */
}

/* Action buttons like 'Login' */

.button button {
  background-color: var(--primary-color); /* Dark background */
  color: var(--button-text-color); /* White text color */
}

/* Hover effect for all buttons */
.login-button:hover,
.create-account-button:hover,
.reset-password-button:hover,
.back-to-login-button:hover,
.home-button:hover,
.button button:hover {
  background-color: var(--hover-color);
}

.login-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;

}

.report-issue-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;

}
.travel-history-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.ticket-page {
  background-color: #F3EFE6; 
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.login-page {
  color: #333; 
}
body {
  border-top: 70px solid #b93321; 
}

.logo-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px; 
  left: 20px; 
  border-radius: 50%;
  overflow: hidden;
}

.logo-circle img {
  width: 100%;
  height: auto;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -200px; 
  font-family: calc(15px + 5vmin); 
}



.password {
  margin-top: 200px; 
  width: 300px;
  height: 40px; 
}

.login-button {
  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
  
}

.create-account-button {

  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
}

.create-account-button:hover {
  background-color: #d45140; /* replace with your desired color */
}

.login-button:hover {
  background-color: #d45140; /* replace with your desired color */
}


/* Profile page styles */
.view-profile-page {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px; /* Adjusted to account for your header height */
}

.profile-image {
  background-color: var(--circle-color);
  border-radius: 50%;
  height: 120px; 
  width: 120px;
  margin-bottom: 30px;
}

.user-info {
  width: 80%; /* Adjust as necessary for your layout */
}

.info-item {
  background-color: var(--secondary-color);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}

.report-issue-button, .home-button {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 20px;
}

.report-issue-button:hover, .home-button:hover {
  background-color: var(--hover-color);
}

/* Map page styles */
#map {
  height: 400px; /* Adjust as needed */
  width: 100%;
}


.reset-password-button {
  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
}

.reset-password-button:hover {
  background-color: #d45140; /* replace with your desired color */
}

.back-to-login-button {
  background-color: #FF964F; 
  color: #000000; 
  width: 150px; 
  height: 35px; 
  margin-top: 30px;
  border-radius: 5px; 
}



.reset-password-page {
  background-color: #F3EFE6; 
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  font-size: calc(10px + 2vmin);
  color: #000000;

  
}

.reset-password-page {
  border-top: 70px solid #b93321;
  margin-top: -70px; 
}


.register-page {
  background-color: #F3EFE6; 
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.map-page {
  position: relative;
  height: 100vh;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.map-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1;
}

input {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e9ecef;
}



